<h2>COURSES OFFERED</h2>
<h4>WHY SHOULD YOU CHOOSE ANUDIP?</h4>
    <p>
        The national skill development programme courses offered by Anudip help you to achieve a promising career. Employer-demand training like AI, AWS Training, Coding/Programming/ Web Technology/ Java courses with 100% placement opportunities are provided.  100% MNC placement/job support after low-cost training will help you build a fast-track career in just a few months getting in hand the best courses. 
    </p>

  
    <h3 >CERTIFICATE PROGRAM</h3>
    
<div class="para">
  <ol>
    <li><p>Certificate in English Speaking</p></li>
    <li><p>Certifiate in E-Commerce Consultant Service</p></li>
    <li><p>Certificate in Full stack java development</p></li>
    <li><p>Certificate in Networking</p></li>
    <li><p>Certificate in Dot Net Programming</p></li> 
</ol>
</div>