<h2>ANUDIP IS GROWING!</h2>
<p>
 In early 2007, under the leadership of current Chairman Dipak Basu, Actionaid and Reuters Foundation carried out an ethnographic study in the Ganges Delta region south of Kolkata, India’s third-largest city, which showed that economies of desperately poor and marginalized people can be dramatically impacted by an increase of local employment. 

 

Subsequently, a group of dedicated social entrepreneurs sets up Anudip Foundation to address the critical livelihood needs of people of rural and urban India through information technology. 

 

Anudip began establishing job training centers nearby three locations in the Sundarbans region of eastern India. These first centers were learning prototypes launched in partnership with community NGOs, with Anudip providing faculty, training equipment, student mobilization, training, and placement services.

 

Subsequent feedback from our alumni and recommendations of our donors, advisors, and partner-NGOs led to the concept of market-aligned skills training and MERIT project centers, and an integrated model that has had a far-reaching impact on the skilling industry.
</p>